<style>
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a ui-sref="SetConn" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-globe'></div>
        </div>   
        <p>Set Connection</p>
      </a>
    </div>
    <div class="col-md-3">
      <a ui-sref="setSubject" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-globe'></div>
        </div>   
        <p>จัดการวิชาเรียน</p>
      </a>
    </div>
  </div>
</div>