<style>
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a ui-sref="WriterTrainTest" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-duplicate'></div>
        </div>   
        <p>Create Training file & Testing file</p> 
      </a>
    </div>
    <div class="col-md-3">
      <a ui-sref="TestSVM" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-sort-by-order'></div>
        </div>   
        <p>Training & Testing</p>
      </a>
    </div>
    <div class="col-md-3">
      <!--<a ui-sref="SaveModel" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-floppy-disk'></div>
        </div>   
        <p>Save model</p>
      </a>-->
    </div>
  </div>
</div>