<div class="row">
    <div class="col-md-6">
        <label class="control-label">Table Name</label>
        <input type="text" class="form-control" id="tb_name" ng-model = "tb_name" value="{{tb_name}}">
    </div>
    <div class="col-md-6">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">Script Text</label>
    </div>
    <div class="col-md-12">
        <textarea rows="5" cols="145" id = "strScriptIn">
{{ScriptIn}}
        </textarea>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">HTML</label>
    </div>
    <div class="col-md-12">
        <textarea rows="5" cols="145" id = "strScriptOut">
{{ScriptOut}}
        </textarea>
        <!-- <input type="text" class="form-control" id = "strScriptOut" value="{{ScriptOut}}"> -->
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">JavaScript</label>
    </div>
    <div class="col-md-12">
        <textarea rows="5" cols="145" id = "strScriptOut2">
{{scriptHead}}
        </textarea>
        <!-- <input type="text" class="form-control" id = "strScriptOut" value="{{ScriptOut}}"> -->
    </div>
</div>
<br>
