<style>
.row{
    vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a ui-sref="KmeansAll" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-transfer'></div>
        </div> 
        <p class ='ft'>Q</p>  
        <p>การประมวลผลเบื้องต้น<br>
        (Preprocessing) </p>
      </a>
    </div>
    <!-- ClassifySVM -->
    <div class="col-md-3"> 
      <a ui-sref="SvmAll" ui-sref-opts="{reload:true}" class="button" >
        <div class ="iconP">
          <div class='glyphicon glyphicon-search'></div>
        </div> 
        <p class ='ft'>W</p>  
        <p>การเรียนรู้การประเมิน<br>
        (Assessment Learning)</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a ui-sref="BestSvmAll" ui-sref-opts="{reload:true}" class="button" >
        <div class ="iconP">
          <div class='glyphicon glyphicon-saved'></div>
        </div> 
        <p class ='ft'>F3</p>  
        <p>การตรวจแบบฝึกหัด<br>
        (Assignment Scoring)</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <!--<a ui-sref="#" ui-sref-opts="{reload:true}" class="button" >
        <div class ="iconP">
          <div class='glyphicon glyphicon-blackboard'></div>
        </div> 
        <p class ='ft'>F4</p>  
        <p>การเรียนรู้เชิงปรับตัว<br>
        (Adaptive Learning)</p>
      </a>-->
      <a ui-sref="SetAll" ui-sref-opts="{reload:true}" class="button" >
        <div class ="iconP">
          <div class='glyphicon glyphicon-cog'></div>
        </div> 
        <p class ='ft'>F5</p>  
        <p>การตั้งค่า<br>    
          (Seting)</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <!--<a ui-sref="SetAll" ui-sref-opts="{reload:true}" class="button" >
        <div class ="iconP">
          <div class='glyphicon glyphicon-cog'></div>
        </div> 
        <p class ='ft'>F5</p>  
        <p>การตั้งค่า<br>    
          (Seting)</p>
      </a>-->
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
      <!--<a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div> 
        <p></p>
      </a>-->
    </div>
  </div>
