<style type="text/css">
  .row{
    vertical-align: left;
    padding-left:0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
</style>

<div class = "layoutpage">
	<div class="row">
    <div class="col-md-12">
      <label class="control-label" >เลือกไฟล์เฉลยคะแนน</label>
      <input type="file" file-model="myFile" id = "asd" class="form-control" accept=".csv">
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <div class="col-md-12">
      <div ui-grid='gridOptions' class='grid' ui-grid-selection></div>     
    </div>
  </div> -->
  <br>
</div>