<style type="text/css">
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
</style>
<div class="row">
	<div class="col-md-10">
		<div class="row">
			<label class="control-label">รหัสสินค้า</label>
			<input type="text" class="form-control" name="firstname" placeholder="ระบุรหัสสินค้า">
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<label class="control-label">จำนวน</label>
			<input type="number" class="form-control on-rigth" value = "1" name="firstname">
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<table>
		    <tr>
		        <th width="60%" class = "on-left">&nbsp;&nbsp;ชื่อสินค้า</th>
		        <th width="20%" class = "on-center">จำนวน</th>
		        <th width="20%" class = "on-center">ราคา</th>
		    </tr>
	        <tr>
		        <td width="60%"><input type="text" class="form-control on-nonborder on-left" name="firstname" value = "น้ำยาล้งห้องน้ำ"></td>
		        <td><input type="number" class="form-control on-nonborder on-rigth" name="firstname" value = "0"></td>
		        <td><input type="text" class="form-control on-nonborder on-rigth " name="firstname" value = "0.00"></td>
	        </tr>
	        <tr>
		        <td class = "on-rigth"><b>รวม</b></td>
		        <td class = "on-rigth"><input type="number" class="form-control on-nonborder on-rigth" name="firstname" value = "0"></td>
		        <td class = "on-rigth"><input type="text" class="form-control on-nonborder on-rigth" name="firstname" value = "0.00"></td>
	        </tr>
	  	</table>
	</div>
</div>
